class 하나 생성 
1. 인자값으로 url 받아오기 ->csv 파일 주소(상대경로)
2. 함수를 하나 생성 -> url에 있는 csv 파일을 읽어오고, 'Country' 기준으로  sort, 인덱스값 초기화 
3. 함수를 하나 생성 -> 인자값을 리스트로 받기 -> 이 매개변수를 기준으로 columns 삭제

In [64]:
import pandas as pd

In [47]:
class Change_dt(): #self로 쓰면 클래스가 갖고 있는 변수임.
    def __init__(self, input_url):
        self.url = input_url

    def csv_read(self): #위에서 url 불어오니까 매개변수 필요없음 
        self.dt = pd.read_csv(self.url)
        self.dt.sort_values("Country",inplace=True)
        self.dt.reset_index(drop=True, inplace=True)
        return self.dt

    def remove_col(self, input_list): #매개변수라 self 안해도됨
        self.dt.drop(input_list, axis=1,inplace=True)
        return self.dt

dt = Change_dt("./csv/Sales Records.csv")

In [71]:
class Change_dt(): #self로 쓰면 클래스가 갖고 있는 변수임.
    def __init__(self, input_url):
        self.url = input_url

    def csv_read(self, input_sort, input_inplace): #위에서 url 불어오니까 매개변수 필요없음 
        self.dt = pd.read_csv(self.url)
        self.dt.sort_values(input_sort,inplace = input_inplace)
        self.dt.reset_index(drop=True, inplace = input_inplace)
        return self.dt

    def remove_col(self, input_list = [] ): #매개변수라 self 안해도됨
        self.dt.drop(input_list, axis=1,inplace=True)
        return self.dt

    def remove_2(self, input_s_col, input_e_col):
        self.dt.drop(self.dt.loc[:,input_s_col : input_e_col],axis=1,inplace=True)
        return self.dt

dt = Change_dt("./csv/Sales Records.csv")

In [72]:
dt.csv_read("Country",True).head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16

In [ ]:
dt.remove_col(["Item Type","Sales Channel"]).tail()

In [73]:
dt.remove_2("Item Type","Order Date")

,Region,Country,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [83]:
dt.remove_col("Unit Cost")

,Region,Country,Order ID,Ship Date,Units Sold,Unit Price,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,933963477,8/23/2013,9402,205.70,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,772306096,3/21/2012,1391,668.27,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,667230880,10/5/2015,7300,205.70,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,161685121,8/29/2012,5075,421.89,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,440761888,4/1/2011,92,668.27,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,742576920,2/6/2016,3867,205.70,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,322291505,2/11/2010,2073,651.21,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,436287105,11/27/2015,5904,9.33,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,433102357,2/3/2017,3467,109.28,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,486245286,2/5/2013,9640,9.33,89941.20,66708.80,23232.40

In [17]:
import mod1  #실제 라이브러리 처럼 불러오려면  path 설정으로 파일 경로 지정해주면 됨 
import imp    # 모듈 변경후 다시 작용하는 법 
imp.reload(mod1)

In [2]:
mod1.add(1,2)

-1

-1

In [89]:
from module import mod2

In [90]:
mod2.sub(5,8)

-3

-3

In [18]:
# mod3 파일 안에 아에 imp 라이브러리 넣어놓기 
import mod3

In [20]:
mod3.sub(3,4)

-1

In [19]:
mod3.add(2,3)

5

In [9]:
#모듈로 작업해보기 
import change as ch
imp.reload(ch)

In [14]:
dt = ch.Change_dt("./csv/Sales Records.csv")

In [15]:
dt.csv_read("Country",True)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [21]:
class Class_1():
    def a(self):
        print("Class_1")

class Class_2():
    def b(self):
        print("Class_2")

class Class_3(Class_1,Class_2):  # 다중 상속 
    def c(self):
        print("Class_3")

x = Class_3()

In [22]:
x.a()

Class_1

In [24]:
x.c()

Class_3

In [25]:
x.b()

Class_2